#head{
    background-color: white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat; /* this means img will only be shown once */
    object-fit: none; /* the img retains its original size */
    object-position: 20px center;
    height : 70px;
    width : 100%;
    border-bottom: 1px #CCCCCC;
}